VITE_APPWRITE_PROJECT_ID="69f76974002a165bb32b"
VITE_ADMIN_EMAIL_HASH="admin@blogspace.com"
VITE_ADMIN_PIN_HASH="240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9"

VITE_APPWRITE_PROJECT_ID = "69f76974002a165bb32b"
VITE_APPWRITE_PROJECT_NAME = "blogspace"
VITE_APPWRITE_ENDPOINT = "https://sgp.cloud.appwrite.io/v1"
        
# admin_password = admin123;
        bucketId = "69f77203003c49edca91"


Database ID:  69f76db5000db8ac5c95
# Posts Collection ID: posts
# Drafts Collection ID: drafts
# Bucket ID:            _______________

VITE_APPWRITE_PROJECT_ID="69f76974002a165bb32b"
VITE_APPWRITE_DATABASE_ID="69f76db5000db8ac5c95"
VITE_APPWRITE_POSTS_ID="posts"
VITE_APPWRITE_DRAFTS_ID="drafts"
VITE_APPWRITE_BUCKET_ID="69f77203003c49edca91"  
VITE_ADMIN_EMAIL="admin@blogspace.com"
VITE_ADMIN_PIN_HASH="240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9"
VITE_APPWRITE_MESSAGES_ID="messages"
VITE_APPWRITE_PROFILES_ID="profiles"
VITE_APPWRITE_COMMENTS_ID="comments"
VITE_APPWRITE_LIKES_ID="likes"
VITE_APPWRITE_NOTIFICATIONS_ID="notifications"
